*.swp
.project
.settings
*/*.csproj
*/*.csproj.user
*/*.build
*/*.mdb
*/*.mdp
*/*.mds
*/*.pdb
*/*.pidb
*/*.dll.build
*/*.dll
*.VisualState.xml
*/obj
*/*/obj
*/*/*/obj
*/*/*/*/obj
*/*/*/*/*/obj
*/*/*/*/*/*/obj
*/bin
*/*/bin
*/*/*/bin
*/*/*/*/bin
*/*/*/*/*/bin
*/*/*/*/*/*/bin
*/test-results
*/*/test-results
*/*/*/test-results
*/*/*/*/test-results
*/*/*/*/*/test-results
*/*/*/*/*/*/test-results
